name: Commit Stage

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: commit-stage
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Required for publishing to GitHub Packages

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
      with:
        gradle-version: wrapper

    - name: Make gradlew executable
      run: chmod +x gradlew

    - name: Build core module with Gradle Wrapper
      run: ./gradlew core:build --no-daemon

    - name: Extract version from root build.gradle
      id: extract_version
      shell: pwsh
      run: |
        $VERSION = (Select-String -Path "build.gradle" -Pattern "version = '(.+)'").Matches[0].Groups[1].Value
        "base_version=$VERSION" | Add-Content -Path $env:GITHUB_OUTPUT
        Write-Host "Extracted version: $VERSION"

    - name: Build and publish core library to GitHub Packages with RC version
      run: ./gradlew core:publish --no-daemon -Pversion="${{ steps.extract_version.outputs.base_version }}-rc.${{ github.run_number }}"
      env:
        GITHUB_USERNAME: ${{ github.actor }}
        GITHUB_WRITE_PACKAGES_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@v4
