name: Commit Stage

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: commit-stage
  cancel-in-progress: true

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
      with:
        gradle-version: wrapper

    - name: Make gradlew executable
      run: chmod +x gradlew

    - name: Extract base version
      id: extract_version
      uses: ./.github/actions/extract-base-version
    
    - name: Determine RC version
      id: version
      run: echo "version=${{ steps.extract_version.outputs.base_version }}-rc.${{ github.run_number }}" >> $GITHUB_OUTPUT

    - name: Build core module
      run: ./gradlew core:build --no-daemon -Pversion="${{ steps.version.outputs.version }}"

    - name: Publish to GitHub Packages
      run: ./gradlew core:publishMavenPublicationToGitHubPackagesRepository --no-daemon -Pversion="${{ steps.version.outputs.version }}"
      env:
        GITHUB_USERNAME: ${{ github.actor }}
        GITHUB_WRITE_PACKAGES_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Publish to Maven Central
      run: ./gradlew core:uploadToCentralPortal --no-daemon -Pversion="${{ steps.version.outputs.version }}" --no-configuration-cache
      env:
        SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
        GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}


  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@v4
