name: Commit Stage

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: # Allow manual triggering

concurrency:
  group: commit-stage
  cancel-in-progress: true

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
      with:
        gradle-version: wrapper

    - name: Make gradlew executable
      run: chmod +x gradlew

    - name: Extract base version
      id: extract_version
      uses: ./.github/actions/extract-base-version
    
    - name: Check if base version already released
      uses: ./.github/actions/check-release-exists
      with:
        release-version: ${{ steps.extract_version.outputs.base_version }}
        github-token: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Determine RC version
      id: version
      run: echo "version=${{ steps.extract_version.outputs.base_version }}-rc.${{ github.run_number }}" >> $GITHUB_OUTPUT

    - name: Build core module
      run: ./gradlew core:build --no-daemon -Pversion="${{ steps.version.outputs.version }}"

    - name: Publish RC to GitHub Packages
      run: ./gradlew core:publishMavenPublicationToGitHubPackagesRepository --no-daemon -Pversion="${{ steps.version.outputs.version }}"
      env:
        GITHUB_USERNAME: ${{ github.actor }}
        GITHUB_WRITE_PACKAGES_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@v4
